<div>
    <div ng-controller="ProductListController as productList">
        <h1>Products</h1>
        <div class="d-flex justify-content-between">
            <button type="button" ng-click="productList.newProduct()" class="btn btn-primary ">Create Product</button>
            <button type="button" ng-click="productList.logout()" class="btn btn-danger btn-sm mr-auto">Logout</button>
        </div>
        
        <div class="py-5">
            <table id="productTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Expiry Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Product in productList.products">
                        <td>{{ Product.Name }}</td>
                        <td>{{ Product.Description }}</td>
                        <td>{{ Product.Amount }}</td>
                        <td>
                            <span ng-show="Product.IsActive" class="badge bg-success">Active</span>
                            <span ng-show="!Product.IsActive" class="badge bg-secondary">Inactive</span>
                        </td>
                        <td>{{ Product.ExpiryDate | date: 'MM/dd/yyyy' }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="productList.productDetails($index)">Edit</button> |
                            <button type="button" class="btn btn-sm btn-danger" ng-click="productList.deleteProduct($index)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="productModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ productList.modalTitle }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" ng-model="productList.Name" placeholder="Name" /><br />
                        <label class="form-label">Description</label>
                        <input type="text" class="form-control" ng-model="productList.Description" placeholder="Description" /><br />
                        <label class="form-label">Amount</label>
                        <input type="number" class="form-control" ng-model="productList.Amount" placeholder="Amount" /><br />
                        <label class="form-label">ExpiryDate</label>
                        <input type="date" class="form-control" ng-model="productList.ExpiryDate" /><br />
                        <input type="checkbox" ng-model="productList.IsActive" />
                        <label class="form-label">Is Active</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="productList.handleSubmit()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="~/AngularApp/Product.js"></script>
}